<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="ofsms-suite">
    <listeners>
        <listener class-name="com.ofsms.tests.TestReportListener"/>
    </listeners>
    <test name="ofsms-tests">
        <classes>
            <class name="com.ofsms.tests.HomeTest"/>
            <class name="com.ofsms.tests.StaticPagesTest"/>
            <class name="com.ofsms.tests.UserGuestPagesTest"/>
            <class name="com.ofsms.tests.LoginTest"/>
            <class name="com.ofsms.tests.UserAuthenticatedPagesTest"/>
            <class name="com.ofsms.tests.ProfileTest"/>
            <class name="com.ofsms.tests.AddToCartTest"/>
            <class name="com.ofsms.tests.CheckoutTest"/>
            <class name="com.ofsms.tests.OrderHistoryTest"/>
            <class name="com.ofsms.tests.UserOrderActionsTest"/>
            <class name="com.ofsms.tests.LogoutTest"/>
            <class name="com.ofsms.tests.ForgotPasswordTest"/>
            <class name="com.ofsms.tests.NegativeLoginTest"/>
            <class name="com.ofsms.tests.AdminLoginTest"/>
            <class name="com.ofsms.tests.AdminProductsTest"/>
            <class name="com.ofsms.tests.AdminManagementPagesTest"/>
            <class name="com.ofsms.tests.AdminOrdersTest"/>
            <class name="com.ofsms.tests.AdminOperationsPagesTest"/>
            <class name="com.ofsms.tests.AdminOrderStatusTest"/>
        </classes>
    </test>
</suite>
